/.cache/
/compile_commands.json
/compile_commands.events.json

/src/*.o
/src/*.d
/src/*.o.tmp

src/extern/imgui/*.o
src/extern/imgui/*.d
src/extern/imgui/*.o.tmp

src/extern/rlImGui/*.o
src/extern/rlImGui/*.d
src/extern/rlImGui/*.o.tmp

/blendini
/blendini.exe
/imgui.ini
